*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* shared style */

a, li{
    text-decoration: none;
    list-style-type: none;
}
html,body{
    height: 100%;
    width: 100%;
}
.btn{
    color: #FFFFFF;
}
.primary-font{
    font-weight: bold;
    font-size: 46px;
    color: #000000;
}
.primary-title{
    font-weight: bold;
    font-display: 24px;
    color: #202020;
}
.primary-description{
    font-weight: 600px;
    font-size: 15px;
    color: #808080;
    margin: 10px;
}
.circle{
    height: 60px;
    width: 130px;
    display: flex;
    flex-direction: row-reverse;
}
.div{
    height: 60px;
    width: 60px;
    background-color: orange;
    border-radius: 50%;
   
}
.primary-stories-btn{
    height: 2rem;
    position: relative;
    text-align: center;
    width: 10rem;
    color: #FFFFFF;
    border-radius: 16px;
    background-color: #5D58EF;
}
/* navbar style */
    

.nav-container{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 60px;
    margin: 0 130px;
    margin-top: 20px;
}
.img-school{
    display: flex;
    align-items: center;
    gap: 10px;
}
.option-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.option{
    font-weight: bold;
    font-size: 22px;
}
.option1{
    color: orange;
}
.option2{
    color: skyblue;
}
.option3{
    color: #05D4DF;
}
.option4{
    color: #5D58EF;
}
.menu-icon{
    display: none;
}
i{
    font-size:30px;
}
.nav-btn{
    display: flex;
    height: 40px;
    width: 150px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
    background-color: orange;
    align-items: center;
    justify-content: center;
}

/* banner style */

.banner-section{
    height: 575px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    font-weight: bold;
    font-size: 56px;
}
.banner-description{
    font-size: 25px;
    margin-top: 20px;

}
.banner-btn{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    font-size: 15px;
    background-color: black;
    border-radius: 12px;
    border: none;
}
.banner-container{
    margin-left: 170px;
}
.empower{
    color: orange;
}
.vision{
    color: rgb(26, 125, 164);
}
.banner-img{
    margin-right: 170px;
}

/* curriculum style */

.curriculum-section{
    height: 880px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-image: url("images/bg.png");
    align-items: center;
    justify-content: center;
}
.box-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 440px;
    width: 95%;

}
.box{
    height: 28rem;
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 18px;

    
}
.box1{
    background: linear-gradient(#DEF5FF,#FFFFFF);
    box-shadow: 5px 5px 5px -5px gray, -3px 3px rgb(239, 236, 236);
}
.box2{
    background: linear-gradient(#FFF4DC, #FFFFFF);
    box-shadow: 5px 5px 5px -5px gray, -3px 3px rgb(239, 236, 236);
}
.box3{
    background: linear-gradient(#F2E8FF,#FFFFFF);
    box-shadow: 5px 5px 5px -5px gray, -3px 3px rgb(239, 236, 236);
}

/* stories style */
.stroies-section{
    height: 55rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/bg.png");
}
.stories-photo-container{
    height: 39rem;
    width: 88rem;
    display: flex;
    justify-content:center;
    gap: 20px;
    
}
.big-box{
    height: 39rem;
    width: 47%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    gap: 10px;
    box-shadow:5px 5px 5px -5px gray, -3px 3px rgb(239, 236, 236);
}
.images4-container{
    height: 39rem;
    width: 44%;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.big-img{
    width: 100%;
    height: 61%;
    border-radius: 16px;
    
}
.stories-btn{
    margin-top: -120px;
}
.kids-img-container{
    height: 19rem;
    width: 19rem;
    border-radius: 1rem;
    background-color: #FFFFFF;
    box-shadow:5px 5px 5px -5px gray, -3px 3px rgb(239, 236, 236);
}
.description-container{
    display: flex;
    height: 39%;
    width: 95%;
    gap: 50px;
    text-align: start;
    justify-content: center;
    flex-direction: column;
}
.big-btn{
  margin-top: 30px;
}
.big-description{
    margin-top: 30px;
}
.mini-btn{
    margin-top: -20px;
}
.mini-description{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 20px;
}
.mini-title{
    margin-top: 30px;
}
.stories{
    margin-bottom: 40px;
}
/* footer style */

.footer-section{
    height: 33rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01ACFD;
}
.footer-div{
    height: 20rem;
    width: 80rem;
    display: flex;
    justify-content: space-between;
}
.footer-box{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
   
}
.kids-img{
    display: flex;
    gap: 20px;
    color: #FFFFFF;
    margin-top: -30px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#footer-logo{
    margin-bottom: 90px;
}
.logo{
    margin-top: 30px;
}
#midile-box{
    margin-left: 60px;
}
#icon{
    height: 81px;
    width: 82px;
}
/* responsive */
@media screen and (max-width: 1300px) {
    .big-box{
        display: none;
    }
    .stories-photo-container{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:1200px ) {
    .box-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    .curriculum-section{
        margin-top: 200px;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    
}

@media screen and (max-width:800px) {
    nav ul{
        position: absolute;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        top: 70px;
        left: 0px;
        overflow: hidden;
        right: 0px;
        gap: 0px;
    }
    .nav-container{
        margin: 0 auto;
    }

    nav ul li{
        padding: 0px;
    }
    .nav-btn, .school{
        display: none;
    }
    .menu-icon{
        display: block;
        justify-content: end;
    }
    #menuList{
        transition: all 0.5s;
    }
    /* banner */
    .banner-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 250px;
    }
    .banner-container,
    .box-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .banner-title{
        text-align: center;
    }
    .banner-description{
        text-align: center;
    }
    
    .banner-img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 ;
       
    }
    .banner-img img{
        width: 90%;
    }
    .curriculum-section{
        margin-top: 400px;
        text-align: center;
    }
    .circle{
        display: none;
    }
    .box-container{
        margin-top: 20px;
       
    }
    .box{
        margin-top: 30px;
    }
}