*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(236, 236, 236);
}

/* shared style */

a{
    text-decoration: none;
}
.primary-font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.option{
    font-weight: bold;
    font-size: 1.25rem;

}

/* navbar style */

.nav-container{
    display: flex;
    width: 90%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.img-school{
    display: flex;
    height: 4rem;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
}
.school{
    font-weight: bold;
    font-size: 2rem;  
}
.nav-option{
    height: 4rem;
    width: 27rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.option1{
    color: orange;
}
.option2{
    color: #05D4DF;
}
.option3{
    color: #05D4DF;
}
.option4{
    color: #5D58EF;
}

.nav-btn{
    height: 3rem;
    width: 11rem;
    background-color: orange;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contect-btn{
    color: #FFFFFF ;
}
button{
    background-color: orange;
    border: none;
   
}
#menu-icon{
    font-size: 34px;
    color: #fff;
    z-index: 10001;
    cursor: pointer;
}
.icon{
    height: 3rem;
    width: 4rem;
    display: none;
}

/* responsive navbar */

@media screen and (max-width:910px) {
    .nav-btn, .option{
        display: none;
    }
    .icon{
        display: block;
    } 
}
